body{
  background: red;
}

.middle {
  min-height: 80vh;
  display: flex;
  align-items: center;
  
}



.icons i {
  font-size: 1.5rem;
  margin-right: 15px;
  color: #333;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #959090;
}